---
http_interactions:
- request:
    method: get
    uri: http://search.3taps.com/?auth_token=6fc1d8fa4866493f63034310e6632e10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"next_page": 1, "time_search": 33.809900283813477, "success": true,
        "time_taken": 49.612045288085938, "anchor": 2343432836, "time_fetch": 8.8229179382324219,
        "num_matches": 1792692, "postings": [{"category": "SAPL", "timestamp": 1439580501,
        "id": 2343432835, "source": "E_BAY", "location": {"city": "USA-TLS-TUL", "geolocation_status":
        3, "metro": "USA-TLS", "country": "USA", "zipcode": "USA-74114", "long": "-95.948338",
        "county": "USA-OK-TUL", "state": "USA-OK", "lat": "36.126074", "formatted_address":
        "74114,Tulsa,OK,USA", "accuracy": 8}, "external_id": "111743729126", "heading":
        "Alpha Omega 11th Grade Switched on Schoolhouse - English III & Chemistry",
        "external_url": "http://www.ebay.com/itm/Alpha-Omega-11th-Grade-Switched-Schoolhouse-English-III-Chemistry-/111743729126"},
        {"category": "SAPL", "timestamp": 1439580501, "id": 2343432836, "source":
        "E_BAY", "location": {"city": "USA-CHI-CHI", "geolocation_status": 3, "metro":
        "USA-CHI", "locality": "USA-CHI-LCS", "country": "USA", "region": "USA-CHI-CIT",
        "zipcode": "USA-60625", "long": "-87.703656", "county": "USA-IL-COO", "state":
        "USA-IL", "lat": "41.972002", "formatted_address": "60625,Chicago,IL,USA",
        "accuracy": 8}, "external_id": "301712897404", "heading": "Intel Core i5-3470
        3.2 GHz Quad-Core (BX80637I53470) Processor", "external_url": "http://www.ebay.com/itm/Intel-Core-i5-3470-3-2-GHz-Quad-Core-BX80637I53470-Processor-/301712897404"},
        {"category": "SAPL", "timestamp": 1439580500, "[...]
- request:
    method: get
    uri: http://3taps.com/?auth_token=6fc1d8fa4866493f63034310e6632e10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://3taps.com/?auth_token=6fc1d8fa4866493f63034310e6632e10
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.8.0</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 14 Aug 2015 23:10:55 GMT
- request:
    method: get
    uri: https://3taps.com/?auth_token=6fc1d8fa4866493f63034310e6632e10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n<!DOCTYPE html>\r\n<html>\r\n    <head>\r\n        <title>3TAPS</title>\r\n<meta
        http-equiv=\"cache-control\" content=\"max-age=0\" />\r\n<meta http-equiv=\"cache-control\"
        content=\"no-cache\" />\r\n<meta http-equiv=\"expires\" content=\"0\" />\r\n<meta
        http-equiv=\"expires\" content=\"Tue, 01 Jan 1980 1:00:00 GMT\" />\r\n<meta
        http-equiv=\"pragma\" content=\"no-cache\" />\r\n        <script src=\"scripts/jquery-1.8.3.js\"></script>\n<meta
        charset=\"utf-8\">\n<link media=\"all\" rel=\"stylesheet\" href=\"stylesheets/all.css\">\n<link
        media=\"all\" rel=\"stylesheet\" href=\"stylesheets/visualize.css\">\n<link
        media=\"all\" rel=\"stylesheet\" href=\"stylesheets/stats.css\">\n<link media=\"all\"
        rel=\"stylesheet\" href=\"stylesheets/visualize-light.css\">\n<link href=\"/tweet/jquery.tweet.css\"
        media=\"all\" rel=\"stylesheet\" type=\"text/css\"/>\n\n<script src=\"scripts/main.js\"></script>\n<script
        type='text/javascript'>\n//\t   jQuery(function($){\n//\t     $(\".tweet\").tweet({\n//\t
        \      join_text: \"auto\",\n//\t       avatar_size: 32,\n//\t       count:
        2,\n//\t       username: [\"3taps\"],\n//\t       loading_text: \"loading
        tweets...\"\n//\t     });\n//\t   });\n</script>\n<!--[if lte IE 7]><link
        rel=\"stylesheet\" type=\"text/css\" href=\"css/ie.css\" media=\"screen\"/><![endif]-->\n<!--[if
        lt IE 9]><script src=\"http://html5shim.googlecode.com/svn/trunk/html5.js\"></script></script><![endif]-->\n
        \       <style type=\"text/css\">\r\n         .poll_checkbox_container{\r\n
        \          margin-bottom:10px;\r\n         }\r\n        </style>\r\n\r\n        <script
        type=\"text/javascript\" src=\"js/jquery.jqplot.js\"></script>\r\n        <script
        type=\"text/javascript\" src=\"js/jqplot.barRenderer.min.js\"></script>\r\n
        \       <script type=\"text/javascript\" src=\"js/jqplot.categoryAxisRenderer.js\"></script>\r\n
        \       <script type=\"text/javascript\" src=\"js/jqplot.pointLabels.min.js\"></script>\r\n
        \   </head>\r\n    <body>\r\n        <!-- wrapper -->\r\n        <div id=\"wrapper\">\r\n
        \           <div class=\"w1\">\r\n                <div class=\"w2\">\r\n                    <!--
        header -->\r\n                    <header id=\"header\">\r\n                        <!--
        logotype -->\r\n                        <strong class=\"logo\"><a href=\"#\">3taps</a></strong>\r\n
        \                       <!-- navigation -->\r\n                        <nav
        id=\"nav\">\r\n                            <ul>\r\n                                <li
        class=\"active\"><a href=\"#\">Home</a></li>\r\n                                <li><a
        href=\"advocacy.php\">ADVOCACY</a></li>\r\n                                <li><a
        href=\"developers-overview.php\">DEVELOPERS</a></li>\r\n                                <!--
        <li><a href=\"stats.php\">STATS</a></li> -->\r\n                                <li><a
        href=\"http://www.twitter.com/3taps\">@3TAPS</a></li>\r\n                                <li><a
        href=\"contact.php\">CONTACT US</a></li>\r\n                            </ul>\r\n
        \                       </nav>\r\n                    </header>\r\n                    <!--
        container -->\r\n                    <div class=\"container\">\r\n                        <h1
        class=\"main-text\">3taps: One-Stop Data Shop for Developers</h1>\r\n                        <!--
        image i-device -->\r\n                        <div class=\"visual\">\r\n                                                        <iframe
        align=\"middle\" src=\"/vis/\" id=\"explore-iframe\" style=\"width:100%; height:850px;
        padding-top:40px;\" seamless=\"true\">Your browser doesn't support floating
        frames!</iframe>\r\n                            <!-- ipad-block -->\r\n<!--
        \                           <div class=\"ipad-block\">\r\n                                <img
        src=\"images/img01.jpg\" alt=\"image description\" width=\"227\" height=\"169\"
        />\r\n                                <span class=\"decoration\"></span>\r\n
        \                           </div>-->\r\n                            <!--
        imac-block -->\r\n<!--                            <div class=\"imac-block\">\r\n
        \                               <img src=\"images/img02.jpg\" alt=\"image
        description\" width=\"504\" height=\"317\" />\r\n                                <span
        class=\"decoration\"></span>\r\n                            </div>-->\r\n
        \                           <!-- iphone-block -->\r\n<!--                            <div
        class=\"iphone-block\">\r\n                                <img src=\"images/img03.jpg\"
        alt=\"image description\" width=\"70\" height=\"126\" />\r\n                                <span
        class=\"decoration\"></span>\r\n                            </div>-->\r\n
        \                       </div>\r\n                        <!-- text-holder
        -->\r\n                        <div class=\"text-holder main-text\">\r\n                            <h2>Keeping
        exchange-related data in the public domain</h2>\r\n                        </div>\r\n
        \                   </div>\r\n                    <!-- main -->\r\n                    <div
        id=\"main\">\r\n                        <!-- item list -->\r\n                        <section
        class=\"items\">\r\n                            <div class=\"holder\">\r\n
        \                               <!-- item -->\r\n                                <div
        class=\"item\">\n<div class=\"title\">\n<h3><a href=\"../the-craigslist-lawsuit.php\">The
        Craigslist Lawsuit</a></h3>\n</div>\n<blockquote>\n<p><span>3taps and Craigslist
        have reached a global settlement of 3taps' antitrust claims and craigslist's
        claims against 3taps.</span></p>\n<p><a href=\"../the-craigslist-lawsuit.php\"
        target=\"_self\">Read more on 3taps' statement regarding craigslist's misuse
        of the CFAA</a></p>\n</blockquote>\n</div>                                <!--
        item -->\r\n                                <div class=\"item\">\n<div class=\"title\">\n<h3>API
        Registratio[...]
[...]
